<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="vm.goToMainPage()" href="">Hamburger Shop</a>

            </div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="toppings">Toppings</a></li>
                <li><a ui-sref="stuffings">Stuffings</a></li>
            </ul>
            <div class="navbar-form navbar-right">
                <a ng-if="!vm.hamburgerService.isCreated()"
                   class="btn btn-success"
                   ui-sref="selectSize">
                    <span class="glyphicon glyphicon-plus"></span>
                    New Order
                </a>
                <a ng-if="vm.hamburgerService.isCreated()"
                   class="btn btn-link"
                   ui-sref="hamburgerFilling">
                    <strong>Current Order</strong>:
                    {{vm.hamburgerService.getSize().code}}
                    (${{vm.hamburgerService.calculatePrice()}} x
                    {{vm.hamburgerService.getCount()}})
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="orderHistory">Order History</a></li>
            </ul>
        </div>
    </nav>
</header>
<nav>
</nav>
