<div class="col-xs-4">
    <dl class="dl-horizontal"
        style="border-bottom: 1px solid #999; margin-bottom: 5px; padding-bottom: 5px;">
        <dt>Size</dt>
        <dd>{{vm.hamburger.getSize().code}}</dd>
        <dt>Toppings</dt>
        <dd>{{vm.hamburger.getToppings().length}}</dd>
        <dt>Stuffings</dt>
        <dd>{{vm.hamburger.getStuffing().length}}</dd>
        <dt>Calories</dt>
        <dd>{{vm.hamburger.calculateCalories()}}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Price</dt>
        <dd>{{vm.hamburger.calculatePrice()}}</dd>
    </dl>
</div>
