<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../node_modules/bootstrap-css-only/css/bootstrap.css" rel="stylesheet"/>
</head>
<body ng-controller="myAppController">
<div class="container text-center">
    <h3>Директива collapser обёртывает текст, добавляя кнопки show hide</h3>
    <div class="my-super-puper-class center-block" collapser style="width:300px">
        Lorem ipsum dolor sit amet, quo eu appetere insolens.
        Dico adipisci sed ut, et nam inciderint consectetuer,
        stet audire probatus ex nec. Volumus definitiones te eam,
        in hinc unum sit. Cu viris graece salutatus eos,
        cu ius oblique corrumpit. Nam nullam intellegat definitiones an
        . Vix te alii similique referrentur. Mei clita soleat luptatum an.
        <div>
            <img src="home-icon.png" style="width:100px">
        </div>
    </div>
    <hr>
    <h3 style="margin-top: 50px">В директиву collapser2 через необязательные атрибуты
        можно передать названия кнопок и вызвать колбэк</h3>
    <div class="my-super-puper-class center-block"
         collapser2
         collapser-button-title="{show: 'Показать', hide: 'Скрыть'}"
         collapser-on-collapse="callback(message)" style="width:300px">
        Lorem ipsum dolor sit amet, quo eu appetere insolens.
        Dico adipisci sed ut, et nam inciderint consectetuer,
        stet audire probatus ex nec. Volumus definitiones te eam,
        in hinc unum sit. Cu viris graece salutatus eos,
        cu ius oblique corrumpit. Nam nullam intellegat definitiones an
        . Vix te alii similique referrentur. Mei clita soleat luptatum an.
        <div>
            <img src="home-icon.png" style="width:100px">
        </div>
    </div>
    <hr>
    <h3 style="margin-top: 50px">Директива с использованием $parsers $formatters</h3>
    <div>
        <p>Введите в строку слова через запятую, в модели сохранится массив</p>
        <input type="text" name="list" ng-model="$ctrl.items" converter/>
        <p>Чтобы проверить, как работает $formattes нажмите кнопку</p>
        <input type="button"
               value="Подставить другой массив"
               ng-click="$ctrl.items=['apple', 'banana', 'orange']"
               class="btn btn-primary">
        <p>Так данные, введённые в поле, сохраняются в модели</p>
        <div>{{$ctrl.items}}</div>
    </div>
    <hr>
    <h3 style="margin-top: 50px">Директива с использованием $validators</h3>
    <form name="myForm">
        <div>
            <p>Введите дату в формате "29.12.2018". Отклонение от формата вызовет ошибку</p>
            <input required
                   type="text"
                   name="list"
                   ng-model="$ctrl.date"
                   date-converter/>
            <p>Чтобы проверить, как работает $formattes нажмите кнопку</p>
            <input type="button" value="Подставить другую дату"
                   ng-click="$ctrl.date={day: 29, month: 'December', year: 2018}" class="btn btn-primary">
            <p>Так данные, введённые в поле, сохраняются в модели</p>
            <div>{{$ctrl.date}}</div>
        </div>
        <p style="color: red" ng-if="myForm.$invalid && myForm.$dirty">Дата задана неверно</p>
    </form>
</div>
<script src="../node_modules/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>




