<div style="border-bottom: 1px solid #bbb; margin-bottom: 20px;"></div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-8 control-label text-right" for="count">Count:</label>
                <div class="col-xs-4">
                    <input type="number" class="form-control" id="count" min="1"
                           ng-model="vm.countValue"
                           ng-change="vm.changeCount()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-8 control-label text-right" for="count">Total:</label>
                <div class="col-xs-4 form-control-static text-center">
                    ${{vm.totalSum}}
                </div>
            </div>
        </form>
    </div>
</div>

