<div class="container">
    <div class="page-header">
        <h1>Build up your favorite hamburger.</h1>
    </div>
    <div id="hamburgerFilling">
        <div class="row">
            <order-info hamburger="vm.hamburgerService"></order-info>
            <div class="col-xs-8 text-right">
                <button class="btn btn-lg btn-success"
                        ng-click="vm.payForOrder()">
                        <span class="glyphicon glyphicon-shopping-cart"
                              style="padding-right: 10px;"></span>
                    Buy It!
                </button>
            </div>
        </div>
        <div class="row">
            <filler-table title="toppings"
                          dropdown-list="vm.toppings"
                          filler-List="vm.hamburgerService.getToppings()"
                          on-filler-add="vm.hamburgerService.addTopping(item)"
                          on-filler-remove="vm.hamburgerService.removeTopping(item)"
            ></filler-table>
            <filler-table title="stuffing"
                          dropdown-list="vm.stuffing"
                          filler-List="vm.hamburgerService.getStuffing()"
                          on-filler-add="vm.hamburgerService.addStuffing(item)"
                          on-filler-remove="vm.hamburgerService.removeStuffing(item)"
            ></filler-table>
        </div>
        <count price="vm.hamburgerService.calculatePrice()"
               hamburger="vm.hamburgerService"></count>
    </div>
</div>


