<div class="container">
    <div class="page-header">
        <h1>{{::vm.title}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ::vm.items">
                    <td>{{::item.code}}</td>
                    <td>{{::item.calories}}</td>
                    <td>${{::item.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
