<div class="col-xs-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h4>{{::vm.title}}</h4>
                </div>
                <div class="col-xs-6 text-right">
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            Add {{::vm.title.toLowerCase()}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="thing in ::vm.dropdownList">
                                <a href="" ng-click="vm.onFillerAdd({item:thing})">{{thing.code}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="thing in vm.fillerList">
                <td>{{$index+1}}</td>
                <td width="50%">{{thing.code}}</td>
                <td width="50%">{{'$'+thing.price}}</td>
                <td width="auto">
                    <button class="btn btn-sm btn-danger"
                            ng-click="vm.onFillerRemove({item:thing})">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
