<div class="container">
    <div class="page-header">
        <h1>Order History</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Date & Time</th>
                    <th>Product</th>
                    <th>Count</th>
                    <th>Total</th>
                    <th width="50px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ::vm.orderHistory.getHistory() | orderBy: 'date' : reverse">
                    <th>{{::item.date | date : 'dd.MM.yyyy'}}</th>
                    <td>{{::item.size.code }} Hamburger</td>
                    <td>{{::item.count}}</td>
                    <td>${{::item.total}}</td>
                    <td>
                        <button ng-click="vm.openComponentModal(item)"
                                data-toggle="modal"
                                data-target="#orderHistoryItemModel"
                                class="btn btn-sm btn-default"
                                title="Open order details">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
