<div class="container">
    <div class="page-header">
        <h1>Order a Hamburger.</h1>
    </div>
    <div id="newHamburger" class="jumbotron">
        <h2 class="text-center">Select the size</h2>
        <div class="row">
            <div class="col-xs-6  text-center" ng-repeat="size in ::vm.sizes">
                <button class="btn btn-lg btn-primary"
                        ng-attr-id="select{{::size.code}}Size"
                        ng-click="vm.createHamburger(size)">
                    {{::size.code}}
                </button>
            </div>
        </div>
    </div>
</div>

