<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{::vm.resolve.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <table class="table text-center">
        <tr ng-if="::(vm.resolve.toppings.length > 0)">
            <th style="border-top: 0" colspan="2" class="text-center">Topping</th>
        </tr>
        <tr ng-if="::(vm.resolve.toppings.length > 0)"
            ng-repeat="topping in vm.resolve.toppings">
            <td>{{::topping.code}}</td>
            <td>${{::topping.price}}</td>
        </tr>
        <tr>
            <th ng-if="::(vm.resolve.stuffing.length > 0)" colspan="2" class="text-center">Stuffing</th>
        </tr>
        <tr ng-if="::(vm.resolve.stuffing.length > 0)"
            ng-repeat="stuffing in vm.resolve.stuffing">
            <td>{{::stuffing.code}}</td>
            <td>${{::stuffing.price}}</td>
        </tr>
        <tr>
            <th colspan="2" class="text-center">Size</th>
        </tr>
        <tr>
            <td>{{::vm.resolve.size.code}}</td>
            <td>${{::vm.resolve.size.price}}</td>
        </tr>
        <tr style="border-bottom: 2px solid black">
            <td style="border-top: 0">Price</td>
            <td style="border-top: 0">${{::vm.resolve.price}}</td>
        </tr>
        <tr>
            <td>Count</td>
            <td>{{::vm.resolve.counter}}</td>
        </tr>
        <tr>
            <td style="border-top: 0">Total</td>
            <td style="border-top: 0">${{::vm.resolve.counter * vm.resolve.price}}</td>
        <tr>
    </table>
</div>
<div class="modal-footer">
    <button ng-if="::(vm.resolve.okButton)" class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.dismiss()">Cancel</button>
</div>
