<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Предупреждение!</h3>
</div>
<div class="modal-body" id="modal-body">
  <p>Вы не закончили оформлять заказ. Действительно хотите начать с начала?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.dismiss()">Cancel</button>
</div>
